@import "color-me-sass";

home {
    &>md-content{
        &.layout-padding{
            padding: 0;
        }
    }
    .general {
        text-align: center;
        background-color: $blueZurb;
        color: $whiteFloral;
    }

    .features {
        text-align: center;

        a {
            text-decoration: none;
        }
    }

    .technologies{
        text-align: center;
        background-color: $redFountain;
        color: $amberFlame;
        .link-card{
            border: 1px solid $redFountain;
            position: relative;
            display: inline-block;
            text-decoration: none;
            color: 	$turquoiseDull;
            padding: 4px;

            &:hover{
                border: 1px solid $amberFlame;
                border-radius: 4px;
            }

            &.angular{
                &:before{
                    content: '';
                    display: block;
                    background-image: url('images/angular-logo.png');
                    margin: 0 auto 5px;
                    width: 160px;
                    height: 80px;
                    background-size: 160px 80px;
                    background-repeat: no-repeat;
                }
            }

            &.react{
                &:before{
                    content: '';
                    display: block;
                    background-image: url('images/react-logo.png');
                    margin: 5px 40px 10px;
                    width: 70px;
                    height: 70px;
                    background-size: 70px 70px;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}
