navigation{
    md-sidenav{
        width: initial;
    }
    .fa{
        font-size: 22px;
    }
    .at-nav-button{
        margin: 0;
        width: 100%;
        text-transform: none;
        padding: 0 25px 0 20px;

        p{
            margin: 0;
            margin-left: 10px;
        }
    }
}
