<h1>Create new Angular items in fast and cool way</h1>

<p>Easy way to register AngularJs services in ES6 style</p>

<div layout="row" layout-align="center">
    <a ui-sref="docs.item({item: 'application'})">
        <md-card md-whiteframe="8">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">@App</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>Define application...</p>
            </md-card-content>
        </md-card>
    </a>
    <md-card md-whiteframe="8">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">@Controller</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>Register new controller...</p>
        </md-card-content>
    </md-card>
    <md-card md-whiteframe="8">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Other...</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>Under construction</p>
        </md-card-content>
    </md-card>
</div>
