<h1>Stack of technologies</h1>

<p>Sources that you should refer to in case if you need more information</p>

<a class="link-card angular" href="https://angularjs.org/" target="_blank">
    AngularJs
</a>

<a class="link-card angular" href="https://material.angularjs.org/latest/" target="_blank">
    Angular Material
</a>

<a class="link-card react" href="https://facebook.github.io/react/" target="_blank">
    ReactJs
</a>

<a class="link-card sass" href="http://sass-lang.com/" target="_blank">
    SASS
</a>
